/*===========
 basic reset
===========*/
body {
    margin: 0;
    padding: 0;
}

/*=============================
  default grid set up -> mobile first
===============================*/
body {
    display: grid;
    min-height: 100vh;
    min-width: 100%;
    grid-template-rows: 1fr 100px;
    grid-template-columns: 1fr;
    grid-template-areas: "content"
                           "footer"
}


.aside {
    background-color: #f2f2f2;
    grid-area: sidebar;

}

/* hide the icons */
.aside i {
    display: none;

}

/*
  main
*/


.main {
    grid-area: content;
}
.main__header {
    display: grid;
    grid-template-areas: "img"
                       "dtls";
    padding: 40px;
    background-image: linear-gradient(to right, black, blue 30%,green);
}
.main__header > .img {
    grid-area: img;
}
.main__header > .details {
    grid-area: dtls;
    color: #fff;
}

.main__body > div {
    display:flex;
    padding: 10px;
}
.main__body > div p{
    flex: 0 0 25%;
}

.img{
    padding: 20px;
    width: 200px;
}


/* for mobiles */
@media screen and (max-width: 600px) {
    .main__header {
        justify-items: center;
    }
    .main__header > .details {
        text-align: center;
    }
    .sm--hide {
        display: none;
    }
    .img > img {
        width: 150px
    }

}




.footer {
    grid-area: footer;
    display: flex;
    flex: 1 0 auto;
    padding: 10px;
    color: #fff;
    background-color: rgba(61, 100, 158, .9);
}

.music-quote{
    display: flex;
    margin-right: auto;
}

.music-quote img{
    padding:10px;
}



.music-controls {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.music-controls i.fa {
    padding: 0 40px;

}


/*=============================
  larger screens
===============================*/

@media only screen and (min-width:600px) {
    body {
        grid-template-columns: 40px 1fr;
        grid-template-areas: "sidebar  content"
			                     "footer  footer";
    }


    .aside {
        display: grid;
        justify-items: center;
        align-items: center;

    }

    .aside i {
        display: block;
        background-color: #f2f2f2;

    }

    .main__header {
        grid-template-columns: 450px 1fr;
        grid-template-areas: "img dtls"
    }
}

